// Body has default margins which I have no use for
* { margin:0; padding:0; box-sizing:border-box; }


header {
    background: $secondaryPurple;
    min-height: 4.5em;
    @include for-size(desktop-up) { 
        padding: $desktopPadding;
        height: 60px;
    }

    // Top-left logo
    #logo {
        background: url('media/pc-logo-2017.png') no-repeat top left;
        min-width: 18em;
        min-height: 2em;
        background-size: 50%;
        display: inline-block;
        @include position(absolute, 1.5em, null, null, 1.5em);
        @include for-size(desktop-up) {
            background-size: 70%;
            left: 25%;
            width: 180px;
            height: 50px;
        }
    }
    // EGR Logo in Header
    #egr-header {
        @include for-size(desktop-up) {
            background: url('media/EGRCasino.png') no-repeat;
            @include position(relative, 1.5em, 1em, null, null);
            background-size: 100%;
            width: 13em;
            height: 3em;
            float: right;
        }

    }
    // Log-in Button
    .btn-blue {
        @include button-bg(#3f74d9);
        @include for-size(desktop-up) {
            font-size: 0.8em;
            padding: 0.9em 0em;
            position: absolute;
            width: 9em;
            text-align: center;
        }
     }   
    .log-in {
        display: inline-block;
        float: right;
        position: absolute;
        top: 25px;
        right: 20px;
        @include for-size(desktop-up) {
            right: 25%;
            top: 15px;
        }

    }
}

