.main-content {
    background-color: $mainPurple;
    color: #fff;

    // Main Banner
    .banner {
        background: url('media/mobile_cover.png') no-repeat;
        background-size: 100%;
        width: 100%;
        height: 45vh;
        @include for-size(desktop-up) {    
            background: url('media/desktop_cover.png') no-repeat;
            background-size: cover;
            height: 60vh;
         }
        
        // Titles
        .titles {
            text-align: center;
            padding-top: 1em;
            position: relative;
            height: 45vh;
            @include for-size(desktop-up) {
                height: 60vh;
            }

            .bonus-title {
                font-family: 'Roboto';
                font-style: italic;
                font-size: 1.5em;
                color: #d3137a;
                @include for-size(desktop-up) {
                    margin: 3% 0 0 23%;
                    font-size: 33px;
                }
            }
            .main-title {
                font-family: 'Roboto Black';
                font-weight: bold;
                 font-size: 2em;
                @include for-size(desktop-up) {
                    margin: 0 0 0 24%;
                    font-size: 50px;
                }
            }
            .new-players {
                font-family: Roboto;
                font-size: 0.5em;
                color: $footerGray;
                background-color: #000000cf;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                @include for-size(tablet-landscape-up) {
                    font-size: 0.7em;
                    padding: 5px 10px;
                }
                @include for-size(desktop-up) {
                    color: #d1cccc;
                    line-height: 16px;
                    padding: 7px 10px;

                }
            }
            .get-started {
                @include position(absolute, null, 0, 6em, 0);
                @include for-size(desktop-up) {
                    @include position(relative, 0, 0, 0, 0);
                    margin: 3% 0 0% 24%;
                }
                .btn-green {
                    @include button-bg(#52aa3f);
                    padding: 0.7em 6em;
                    @include for-size(desktop-up) {
                        padding: 13px 50px;
                        font-size: 20px;
                    }
                }
            }

            #egr-casino {
                background: url('media/EGRCasino.png') no-repeat;
                @include position(absolute, null, 0, 1em, 0);
                background-size: 100%;
                width: 12em;
                height: 2em;
                margin: 0 auto;
                @include for-size(tablet-landscape-up) {
                    bottom: 2em;
                }
                @include for-size(desktop-up) {
                    display: none;
                }

            }
        }
    }

    // Deposit circles
    .deposits {
         padding: 1em 0 0 0;
         @include for-size(tablet-landscape-up) {
            margin: 1.5% 0 0 -5%;
            text-align: center;
         }
        @include for-size(desktop-up) {
            margin: 1.5% 0 0 0;
            padding: 0 18%;
        }
        @include for-size(big-desktop-up) {
            margin: 1.5% 0 0 0;
            padding: $desktopPadding;
        }
        

        .deposit-item {
            display: block;
            margin: 1em 0;
            width: 21em;
            height: 9em;
            @include for-size(tablet-landscape-up) {
                display: inline-block;
                margin: 1em 0.6em 0 0;
                width: 11.6em;
                height: 9em;
            }
        }
        .number-circle {
            border: 2px #fff solid;
            display: inline-block;
            border-radius: 50%;
            font-family: 'Roboto Black';
            font-size: 3em;
            font-weight: bold;
            padding: 25px 40px;
            margin: 0 0 0 7%;
            float: left;
            @include for-size(tablet-landscape-up) {
                font-size: 2.5em;
                padding: 20px 33px;
                margin: 0;
            }
        }
        .deposit-title {
            display: inline-block;
            font-family: 'Roboto Black';
            padding: 0 0 0 1em;
            width: 50%;
            @include for-size(tablet-landscape-up) {
                width: 33%;
                text-align: left;
                padding: 0;
            }
            @include for-size(desktop-up) {
                margin-left: -1em;
            }
            div {
                font-family: 'Roboto Black';
                font-size: x-large;
                @include for-size(tablet-landscape-up) {
                    line-height: 1em;
                }
            }
            .deposit-subtitle {
                font-family: 'Roboto Light';
                font-weight: 100;
                @include for-size(tablet-landscape-up) {
                    font-size: 0.9em;
                    width: 10em;
                    margin-top: 0.5em;
                }
            }
        }
        .vertical-line {
            border-left: 2px solid #fff;
            height: 2.6em;
            margin: 1.1em 0 0 4.8em;
            @include for-size(tablet-landscape-up) {    
                display: none;
            }
        }
        .horizontal-line {
            display: none;
            width: 2em;
            border-top: 2px solid #fff; 
            @include for-size(tablet-landscape-up) {
                display: inline-block;
                padding: 2.5em 4em 0 0;
                margin: 0 2% 0 4%;
            }
            @include for-size(desktop-up) {
                margin: 0 1em 0 1.2em;
                padding: 2.5em 3em 0 0;
            }
            @include for-size(big-desktop-up) {
                padding: 2.5em 2.5em 0 0;
                margin: 0 1em;
            }
        }
    }   // end deposits

    .jackpot {
        background: url('media/jackpot.png') no-repeat;
        width: 23.4em;
        height: 5em;
        background-size: 100%;
        padding: 2em 0 1em 0;
        margin: -1em auto 1em auto;
            @include for-size(desktop-up) {
                width: 30em;
                margin: 0 auto;
                height: 6em;
            }
        #jackpot-value {
            float: right;
            margin: -0.7em 0 0 0;
            font-size: 1em;
            font-family: Roboto Condensed;
            font-weight: bold;
            letter-spacing: 8px;
            padding: 0 3% 0% 3%;
            background: url('media/counter_image.png') no-repeat;
            background-size: 169px 24px;
                @include for-size(desktop-up) {
                    margin: -0.5em 0 0 0 ;
                    letter-spacing: 9px;
                    padding: 0 0.7em;
                    background-size: 177px 24px;
                }
        }
    }
    // Terms and conditions dropdown
    .legal {
        background-color: $secondaryPurple;
        color: #fff;
        margin-top: -1em;
            @include for-size(desktop-up) {
                margin: 2% 25% 0 25%;
            }
            span {
                font-family: Roboto Condensed;
            }
    }
    input {
        display: none;
        visibility: hidden;
    }
    label {
        display: block;
        padding: 0.5em 1em 1em 1em;
        text-align: left;
        color: #fff;
        font-size: 1.1em;
    }
    label:hover {
        color: #fff;
    }
    label::before {
        font-family: Consolas, monaco, monospace;
        font-weight: 400;
        font-size: 1.5em;
        content: "+";
        display: inline-block;
        width: 25px;
        height: 25px;
        margin-right: 3px;
        color: red;
    }
    #expand {
        height: 0px;
        overflow: hidden;
        transition: height 0.5s;
        background-color: $mainPurple;
        color: #FFF;
        p {
            padding-top: 1em;
        }
    }
    section {
        padding: 0 20px;
    }
    #toggle:checked ~ #expand {
        height: 200px;
    }
    #toggle:checked ~ label::before {
        content: "-";
    }

    // Financial Partner Logos
    .payment-logos {
        margin-top: 1em;
        padding: 0 0.5em 0.3em 0.5em;
        text-align: center;
        @include for-size(desktop-up) {
            margin: $desktopPadding;
            text-align: left;
        }
        .payment-logo1 {
            @include backgroundLogo('logo1.png', 50%);
        }
        .payment-logo2 {
            @include backgroundLogo('logo2.png', 90%);
        }
        .payment-logo3 {
            @include backgroundLogo('logo3.png', 50%);
        }
        .payment-logo4 {
            @include backgroundLogo('logo4.png', 60%);
        }
        .payment-logo5 {
            @include backgroundLogo('logo5.png', 90%);
        }
        .payment-logo6 {
            @include backgroundLogo('logo6.png', 90%);
        }
        .secondary-desktop-logos {
            display: none;
            .other-logo1 {
                @include otherLogo('otherlogos1.png', 1em 4.2em, 2.4em);
            }
            .other-logo2 {
                @include otherLogo('otherlogos2.png', 1.2em 3em, 2.8em);
            }
            @include for-size(desktop-up) {
                display: inline-block;
            }
        }
    }
}

// Footer
#footer-information {
    height: auto;
    background-color: $thirdPurple;
    color: $footerGray;
    font-family: Roboto Regular;
    font-size: smaller;
    @include for-size(desktop-up) {
        padding: 2% 25% 1% 25%;
    }

    // Those 3 tiny logos
    .other-logo-container {
        background-color: $thirdPurple;
        padding: 1em 0;
        text-align: center;
        @include for-size(desktop-up) {
            display: none;
        }
        .other-logo1 {
            @include otherLogo('otherlogos1.png', 1em 4.2em, 0);
        }
        .other-logo2 {
            @include otherLogo('otherlogos2.png', 1.2em 3em, 0);
        }
    }
    .footer-content {
        padding: 0 1em;
        .footer-address {
            padding: 2em 0 1em 0;
            #minimum-age {
                background: url('media/18.png') no-repeat;
                background-size: 100%;
                display: inline-block;
                padding: 2em 0;
                width: 4em;
            }
            p {
                margin:-3.3em 0 1em 5em;
            }
        }
    }
}
// Left it out here in order to hide link styling globally
a {
    color: #fff;
    text-decoration: none; /* no underline */
  }